<div></div>
Welcome <%= @account.first_name + ' ' + @account.last_name%>, you can make order here!

<% if @account.user_gp=2 %>
    <br><span style="color:red">Since you are using guest account. Please mark down your ID to login again: <%=@account.login%></span><br>
<% end %>

<%=
    link_to_if(@account.user_gp == 0,'Back',page_admin_path) do
      link_to 'Back', page_login_path
    end

%>
<br><br>

Current Order:
<% if @orders %>
    <table>
      <tr>
        <th>Restaurant</th>
        <th>English name</th>
        <th>Chinese name</th>
        <th>Price</th>
        <th>Price Adjustment</th>
        <th>Item Total</th>
        <th>Remark</th>
      </tr>

      <% for order in @orders %>
          <tr>
            <td><%=h order.food.restaurant.name %></td>
            <td><%=h order.food.name %></td>
            <td><%=h order.food.name2 %></td>
            <td><%=h order.food.price %></td>
            <td><% if order.priceAdj.to_i > 0 %><%=h order.priceAdj %><% else %>N/A<% end %></td>
            <td><% if order.priceAdj.to_i > 0 %><%=h order.food.price+order.priceAdj %><% else %><%=h order.food.price %><% end %></td>
            <td><%=h order.remark %></td>
            <td><%= button_to 'Delete', order_path(order), :method => :delete %></td>
          </tr>
      <% end %>
      <tr>
        <td COLSPAN=4><% if @orderedFood.sum(:price)+@orderedFood.sum(:priceAdj)>80 %>
              <span style="color:red">Sum: <%= @orderedFood.sum(:price)+@orderedFood.sum(:priceAdj) %></span><br>
          <% else %>
              Sum: <%= @orderedFood.sum(:price)+@orderedFood.sum(:priceAdj) %><br>
          <% end %></td>
      </tr>
    </table>

<% else %>
    <br>You have not yet order today!<br>
<% end %>


<br>
Add food:
<table>
  <tr>
    <th>Restaurant</th>
    <th>English name</th>
    <th>Chinese name</th>
    <th>Price</th>
    <th>Remark</th>
    <th>Price Adjustment</th>
  </tr>

  <% for food in @foods %>
      <tr>
      <%= form_tag("/orders", method: "post") do %>
            <td><%= label_tag :restaurantName, food.restaurant.name %></td>
            <td><%= label_tag :foodName, food.name %></td>
            <td><%= label_tag :foodName2, food.name2 %></td>
            <td><%= label_tag :foodPrice, food.price %></td>
            <td><%= text_field_tag :remark %></td>
            <td><%= text_field_tag :priceAdj %></td>
            <td><%= submit_tag "Add", class: "btn btn-primary" %></td>
            <%= hidden_field_tag :food_id, food.id %>
      <% end %>
      </tr>
  <% end %>
</table>

<br />