<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:cookies, url: login_path) do |f| %>

        <%= f.label :login, "FactSet Login" %>
        <%= f.text_field :login, class: 'form-control' %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>Guest? <%= link_to "Guest Login", page_guest_path %></p>
  </div>
</div>