<p>Login: <%= @account.login %></p>
<p>First Name: <%= @account.first_name %></p>
<p>Last Name: <%= @account.last_name %></p>
<p>Location: <%= @account.location %></p>
<p>User Group: <%= @account.user_gp %></p>
<p>Last Update Date: <%= @account.updated_at %></p>
<p>Active: <%= @account.active %></p>

<p><%= link_to 'Back to index', :controller => 'account', :action => 'index' %></p>